<?xml version="1.0" encoding="utf-8"?>
<!--
    Author      : Kieron Higgs, Bailey Mills
    Date	    : Apr. 5th, 2019
    Project		: Assignment 2
    File	    : AndroidManifest.xml
    Description : This file enumerates the Android Activities included in the TMDb prototype app.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.k13r0.TMDb_Project">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="com.example.k13r0.TMDb_Project.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.k13r0.TMDb_Project.Activities.SearchMovies" android:label="Search Movies">
        </activity>

        <activity android:name="com.example.k13r0.TMDb_Project.Activities.SearchResults" android:label="Search Results">
        </activity>

        <activity android:name="com.example.k13r0.TMDb_Project.Activities.UpcomingMovies" android:label="Upcoming Movies">
        </activity>

        <activity android:name="com.example.k13r0.TMDb_Project.Activities.About" android:label="About" android:theme="@style/PopUpTheme">
        </activity>

        <activity android:name="com.example.k13r0.TMDb_Project.Activities.MovieDetails" android:label="Movie Details" android:theme="@style/PopUpTheme">
        </activity>

        <activity android:name="com.example.k13r0.TMDb_Project.Activities.FavoriteMovies" android:label="Movie Details" android:theme="@style/PopUpTheme">
        </activity>

    </application>

</manifest>